{% extends './base.html' %} 

{% load static %}


{% block content %}
    <div class="container mt-2">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                {% for question in page_obj %}
                <div class="card shadow mb-2">
                    <img src="{{question.image.url}}" class="card-img-top img-fluid" alt="{{question.name}}">
                    <div class="card-body">
                        <form action="." method="post" id="quiz-form">
                            {% csrf_token %}
                            <h5 class="card-title">{{question.name}}</h5>
                            <p class="card-text">{{question.description|safe}}</p>
                            <span><strong>Price Range: </strong></span><span>{{question.min_price}} - {{question.max_price}}</span>
                            <br/>
                            <input type="hidden" name="question_id" id="question_id" value="{{question.id}}"><br/>
                            <input class="form-control" type="number" name="user_answer" id="user_answer" value="">
                            <br/>
                            <button class="btn btn-success float-right" type="submit">Submit</button>
                        </form>
                    </div>
                    <div class="pagination-btns p-2">
                        <ol class="pagination text-center">
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link btn btn-success nav-buttons" href="?page={{ page_obj.next_page_number }}" id="nextPageLink">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <button class="btn btn-danger nav-buttons">Finish</button>
                            </li>
                        {% endif %}
                        </ol>
                        Question {{page_obj.number}} of {{page_obj.paginator.num_pages}}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}

{% comment %} 
{% block extra_js %}
<script>
    $('#quiz-form').on('submit', function(event){
        event.preventDefault();
        create_post();
        $('#nextPageLink').trigger('click');
    });

    function create_post() {
        $.ajax({
            url : $("#quiz-form").attr('action'),
            type : "POST",
            data : {
                question_id : $('#question_id').val(),
                user_answer: $('#user_answer').val()
            },
            // handle a successful response
            success : function(json) {
                console.log("success"); // another sanity check
            },
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(err);
            }
        });
    };
</script>
{% endblock extra_js %} {% endcomment %}